<mat-form-field class="full-width" appearance="outline">
  <div class="input-container">
    <ng-content select="input"></ng-content>
    <button mat-icon-button (click)="clearSelection($event)"><mat-icon>close</mat-icon></button>
  </div>
  <mat-error *ngIf="searchControl.errors && searchControl.errors.required">Field is required</mat-error>
  <mat-error *ngIf="searchControl.errors && searchControl.errors.originEqualsToDestination">Origin should be different from destination.</mat-error>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption
                  [displayWith]="displayWith">
  <mat-option *ngFor="let option of $filteredOptions | async" [value]="option">
    {{ displayOptionWith(option) }}
  </mat-option>
  <mat-option [value]="null" *ngIf="($filteredOptions | async)?.length == 0">
    No items found.
  </mat-option>
</mat-autocomplete>

<!--<input type="text" matInput placeholder="{{placeHolder}}" [formControl]="searchControl" [matAutocomplete]="auto">-->
